@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  display: flex;
  max-width: 736px;
  width: 100%;
  border-radius: 32px;
  background-color: white;
  gap: 40px;
}

.blue_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 374px;
  height: 512px;
  border-radius: 32px;
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 35px;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
}

.result_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(202, 201, 255, 0.5);
}

.sixseven {
  font-family: "Hanken Grotesk";
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

.performance {
  width: 260px;
  height: 69px;
  text-align: center;
  margin-top: 14px;
  color: rgba(202, 201, 255, 1);
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

h1 {
  color: white;
}

.header {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(202, 201, 255, 1);
}

.summary_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-right: 40px;
}

.sub_head {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-right: 185px;
  color: rgba(48, 59, 89, 1);
}

.summary_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 56px;
  border-radius: 12px;
  background-color: rgba(255, 85, 85, 0.1);
}

.summary_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 56px;
  border-radius: 12px;
  background-color: rgba(255, 178, 30, 0.1);
}

.summary_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 56px;
  border-radius: 12px;
  background-color: rgba(0, 187, 143, 0.1);
}

.summary_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 56px;
  border-radius: 12px;
  background-color: rgba(17, 37, 214, 0.1);
}

.hundred {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: rgba(48, 59, 89, 0.5);
}

.pre_number {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  color: rgba(48, 59, 89, 1);
  padding-left: 100px;
  margin-right: 2px;
}

img {
  padding-right: 15px;
}

button {
  width: 288px;
  height: 56px;
  border-radius: 128px;
  background-color: rgba(48, 59, 89, 1);
  color: white;
  font-size: 15px;
  margin-top: 41px;
}

.reaction {
  color: rgba(255, 85, 85, 1);
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
}

.memory {
  color: rgba(255, 178, 30, 1);
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
}

.verbal {
  color: rgba(0, 187, 143, 1);
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
}

.visual {
  color: rgba(17, 37, 214, 1);
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
}

.footer > h1 {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

button {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  border: none;
}

@media (max-width: 737px) {
  body {
    height: 100%;
  }

  .container {
    flex-direction: column;
    width: 375px;
    gap: 26px;
  }

  .result {
    width: 140px;
    height: 140px;
  }

  .sixseven {
    font-family: "Hanken Grotesk";
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 56px;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
  }

  button {
    margin-bottom: 30px;
  }

  .blue_div {
    height: 356px;
  }

  .footer {
    width: 260px;
    height: 81px;
    margin-bottom: 30px;
  }

  .footer > h1 {
    font-family: "Hanken Grotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
  }

  .footer > p {
    font-size: 15px;
  }

  .header {
    font-family: "Hanken Grotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 24px;
  }

  .summary_box {
    padding: 0;
  }
}
